h1 {
	font-size: 22px;
	text-align: center;
}
h3 {
	text-align: center;
}
.highlight {
	font-style: italic;
}
.highlight2:link, .highlight2:visited {
	text-decoration: none;
	background-color: blue;
	border: 1px solid black;
	color: black;
	display: block;
	width: 250px;
	text-align: center;
	margin: 1px; 
}
.highlight2:hover {
	background-color: magenta;
	color: green;
}
.highlight2:active {
	background-color: yellow;
}
h2 {
	font-size: 180%;
}
.highlight4 {
	font-weight: bold;
}
.highlight5 {
	text-transform: uppercase;
}
* {
	box-sizing: border-box;
	font-family: 'Amatic SC', cursive;
}
#inner {
	border: 1px solid black;
	background-color: pink;
	font-size: 120%;
	color: purple;
	width: 90%;
	height: 100%;
	margin-right: 0px;
	margin-left: 0px;
	padding: 14px;
}
