*{
	font-family: 'Russo One', sans-serif;
}
h1 {
	font-size: 24px;
	text-align: center;
}
p {
	font-size: 120%;
}
.highlight1:link {
	color: red;
}
.highlight1:visited {
	color: black;
}
.highlight2:link {
	color: blue;
}
.highlight2:visited {
	color: gray;
}
.highlight3:link {
	color: green;
}
.highlight3:visited {
	color: pink;
}
.highlight4:link {
	color: yellow;
}
.highlight4:visited {
	color: purple;
}
* {
	box-sizing: border-box;
}
