h1 {
	font-size: 22px;
	text-align: center;
}
.highlight {
	font-style: italic;
}
h2 {
	text-align: center;
}
ul li:nth-child(odd) {
	background-color: gray;
}
ul li:nth-child(even) {
	background-color: white;
}
ol li:nth-child(4) {
	background-color: pink;
}
ol li:nth-child(3) {
	cursor: pointer;
}
ol li:nth-child(5) {
	cursor: pointer;
}
* {
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}
